<!DOCTYPE html>
<html lang="pt">
  <% include partials/index/header %>
  <body class="bg-light">
    <% include partials/index/navbar %>

    <div class="container mt-5">
      <h1 class="text-center mb-4">Bem-Vindo ao Gestor de Tarefas</h1>
      <p class="text-center">
        Por favor, <a href="/login">inicie sessão</a> ou
        <a href="/register">registe-se</a> para poder aceder às suas tarefas.
      </p>
    </div>

    <% include partials/index/footer %>
  </body>
</html>
