<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Novo Utilizador</title>
  </head>
  <body>
    <h1>Novo Utilizador</h1>

    <form method="POST" action="/users">
      <input type="text" name="name" placeholder="Nome" required />
      <input type="email" name="email" placeholder="E-mail" required />
      <button type="submit">Criar Utilizador</button>
    </form>
  </body>
</html>
